<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="two_wheels_ros2_control" params="
               name
               use_mock_hardware">
        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_mock_hardware}">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_mock_hardware}">
                    <plugin>two_wheels/ArduinoWheels</plugin>
                </xacro:unless>
            </hardware>

            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>


        <xacro:if value="$(arg use_mock_hardware)">
            <xacro:include filename="$(find two_wheels)/urdf/two_wheels/gazebo_control.xacro"/>
        </xacro:if>

    </xacro:macro>
</robot>
