<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="two_wheels">

  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find two_wheels)/urdf/two_wheels/two_wheels_macro.xacro"/>
  <xacro:include filename="$(find two_wheels)/urdf/two_wheels/two_wheels_macro.ros2_control.xacro"/>


  <!-- Load robot's macro with parameters -->
  <xacro:two_wheels>
  </xacro:two_wheels>

  <xacro:two_wheels_ros2_control
    name="two_wheels"
    use_mock_hardware="$(arg use_mock_hardware)" />

</robot>
