<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="black" value="Gazebo/Silver"/>
    <xacro:property name="black" value="Gazebo/Black"/>

    <gazebo reference="base_link">
        <material>${silver}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
        <gravity>true</gravity>
    </gazebo>

    <gazebo reference="front_left_wheel">
        <material>${black}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="rear_left_wheel">
        <material>${black}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="rear_right_wheel">
        <material>${black}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="front_right_wheel">
        <material>${black}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="lidar_link">
        <material>${black}</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>true</self_collide>
    </gazebo>
</robot>